<div class="page-header">
    <div class="demo-buttons">
        <button mat-icon-button><mat-icon>accessible</mat-icon></button>
        <button mat-icon-button><mat-icon>home</mat-icon></button>
    </div>
    <div class="logo"></div>
    <div class="lang-buttons">
        <button mat-button><img src="https://upload.wikimedia.org/wikipedia/en/a/a4/Flag_of_the_United_States.svg" alt="English" width="42" height="42"/></button>
        <button mat-button><img src="https://upload.wikimedia.org/wikipedia/commons/d/d4/Flag_of_Israel.svg" alt="עברית" width="42" height="42"/></button>
    </div>
</div>