.page-header{
    height: 10vh;
    width: 100%;
    display: flex;
    justify-content: space-between;

}

.logo{
    
    height: 100%;
    width: 30vw;
    background-image: url("https://upload.wikimedia.org/wikipedia/he/c/c6/YadVashemLogo.svg");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center top;
    
}